.body {
  width: 100%;
  min-height: 100vh; /* Se ajusta a la altura mínima de la pantalla */
  overflow-y: auto; /* Permite el scroll vertical */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  background-attachment: fixed; /* Mantiene el fondo fijo */
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.container {
  color:white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5px;
  padding: 0.1%;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh; /* Asegura que el contenedor cubra toda la pantalla */
  overflow-x: hidden;
  justify-content: center;
  align-content: start; /* Permite que el contenido crezca verticalmente */
  justify-items: center;
  align-items: start;
  background-color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
    max-width: 100%;
    overflow-x: hidden;
    justify-content: space-around;
    align-content: start; /* Asegura que el contenido crezca verticalmente */
  }
}
