ProfileProduction.module.css
.container {
    padding: 0px;

}

.loading, .error {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.loading {
    color: #888;
}

.error {
    color: red;
}
