.floatingButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    animation: pulse 2s infinite;
    width: 90%; /* Ancho adecuado para móviles */
    max-width: 300px; /* Ancho máximo para pantallas grandes */
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #1976d2;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .floatingButton:hover {
    background-color: #1565c0;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(25, 118, 210, 0.7);
    }
    70% {
      box-shadow: 0 0 0 15px rgba(25, 118, 210, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(25, 118, 210, 0);
    }
  }
  
  /* Estilos específicos para móviles */
  @media (max-width: 600px) {
    .floatingButton {
      width: 95%; /* Ocupa casi todo el ancho en móviles */
      max-width: none; /* Elimina el límite de ancho máximo */
      bottom: 10px; /* Ajusta la posición inferior para móviles */
      font-size: 14px; /* Reduce el tamaño de la fuente en móviles */
      padding: 10px 20px; /* Ajusta el padding para móviles */
    }
  }
  
  /* Clase para el contenedor principal */
  .mainContainer {
    position: relative;
    overflow: visible; /* Asegura que el botón flotante no se corte */
    margin: 0;
    padding: 0;
  }