body {
    margin: 0;
    /* Elimina el margen */
    padding: 0;
    /* Elimina el padding */
    border: none;
    /* Elimina cualquier borde */
    box-sizing: border-box;
    /* Asegura que el padding y el borde no afecten el tamaño */
    background-color: red;
}