@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap");

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #333333; /* Color más oscuro para mejorar la legibilidad */
}

/* Encabezado */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

/* Logo */
.logoContainer {
    justify-self: start;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 3.8rem;
    font-weight: 700;
    color: #000000; /* Usar negro para un contraste más fuerte */
    margin-bottom: 2rem;
}

/* Contenedor de búsqueda */
.searchContainer {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
}

.searchInput {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #cccccc; /* Gris claro para el borde */
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    color: #333333; /* Gris más oscuro para mayor legibilidad */
}

.searchInput::placeholder {
    color: #999999; /* Gris más claro para los placeholders */
}

/* Sección principal */
.main {
    display: grid;
    gap: 3rem;
}

/* Estilo de las secciones */
.section {
    margin-bottom: 2rem;
}

/* Títulos de las secciones */
.sectionHeader {
    margin-bottom: 1.5rem;
}

.sectionTitle {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 700;
    color: #000000; /* Color negro para los títulos de las secciones */
    border-bottom: 1px solid #cccccc; /* Gris para la línea de separación */
    padding-bottom: 0.5rem;
}

/* Elementos de la sección */
.sectionItems {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

/* Estilo de los ítems del menú */
.menuItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.itemInfo {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.119);
}

/* Estilo de la imagen de cada ítem */
.cardImage {
    border-radius: 10%;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover en la imagen */
.cardImage:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Detalles del ítem */
.itemDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.itemInfo h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
    color: #000000; /* Color negro para los títulos de los ítems */
}

.itemDescription {
    font-size: 0.9rem;
    color: #666666; /* Gris oscuro para la descripción */
    margin-right: 1rem;
}

.price {
    font-weight: 700;
    color: #e4b23d; /* Un tono dorado para resaltar el precio */
    white-space: nowrap;
    margin-top: 0.5rem;
}

/* Estilo del pie de página */
.footer {
    margin-top: 3rem;
    text-align: center;
    font-size: 0.8rem;
    color: #999999; /* Gris suave para el pie de página */
    border-top: 1px solid #cccccc; /* Gris claro para la línea superior */
    padding-top: 1rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .header {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1.5rem;
        align-items: center;
    }

    .logoContainer,
    .searchContainer {
        justify-self: center;
        width: 100%;
    }

    .searchContainer {
        max-width: 90%;
    }

    .sectionItems {
        grid-template-columns: 1fr;
    }

    .sectionTitle {
        font-size: 1.8rem;
    }

    .itemInfo h2 {
        font-size: 1.2rem;
    }

    .itemDescription {
        font-size: 0.85rem;
    }

    .footer {
        font-size: 0.7rem;
    }
}
